@import 'tailwindcss';

/* Estilos personalizados */
.bg-dot-pattern {
  background-image: radial-gradient(circle, currentColor 1px, transparent 1px);
  background-size: 12px 12px;
}
html {
  scroll-behavior: smooth;
}